main,
section {
    min-height: 99vh;
}

.container-fluid {
    position: relative;
    top: 25px;
}

.div1 {
    height: 40px;
    width: 300px;
}

section {
    padding: 2% 10% 5% 10%;
    display: flex;
    flex-flow: row wrap;
}

.card-custom-css {
    height: 100%;
}

.card-body-custom-css {
    align-items: center;
    display: flex;
}

.cust-card-img {
    width: 100% !important;
    height: 40% !important;
}